@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1><br>

<br>
<h5>Privacy is no longer available.</h5>
<br><br>
<a class="btn btn-primary btn-lg active" style="text-align:center;" href="https://www.nytimes.com/2020/01/24/opinion/sunday/surveillance-capitalism.html" role="button">Issues with being remotely controlled?</a>


